*{
    box-sizing: border-box;
}

:root{
    --primary-color: hsl(0, 36%, 70%);
    --background-pink: hsl(0, 100%, 98%);
    --button-shadow: rgba(243, 184, 184, 0.438);
    --alert-color: hsl(0, 93%, 68%);
    --neutral-color: hsl(0, 6%, 24%);
    --background-gradient: 135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%);
    --button-gradient: 135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%);
}

body{
    background: linear-gradient(var(--background-gradient)); 
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh; 
    font-family: "Josefin Sans", Verdana;
    font-size: 18px;
    font-weight: 300;  
}

.logo{
    height: 5rem;
    width: 100%;
}

.logo img{
    height: 1.5rem;
    margin: 0;
}

h1, h2{
    text-transform: uppercase;
    letter-spacing: 0.3em;
}

h1{
    font-weight: 300;
    color: var(--primary-color);
}

h2{
    font-weight: 600;
    color: var(--neutral-color);
}

.text p{
    font-weight: 400;
    font-size: 3.70vw;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    color: var(--primary-color);
}

form{
    width: 85%;
    margin: 0;
}

form.invalid {
    background-image: url("images/icon-error.svg");
    background-repeat: no-repeat;
    background-position: 60%;
}

input{
    min-width: 90%;
    margin: 0;
    padding: 1.2rem;
    background-color: transparent;
    border-radius: 25rem;
    border: 1px solid var(--primary-color);
    font-family: "Josefin Sans", Verdana;
    font-weight: 400;
    color: var(--neutral-color);
}

input:focus{
    outline: none ;
}

input:invalid{
    border: var(--alert-color) solid 2px;
}

::placeholder{
    font-family: "Josefin Sans";
    font-weight: 400;
    color: var(--primary-color);
    opacity: 0.5;
}

button{
    position: absolute;
    z-index: 2;
    transform: translateX(-90%);
    margin: 0;
    background: linear-gradient(var(--button-gradient));
    border: none;
    border-radius: 25rem;
    box-shadow: 0 0.5rem 0.7rem 0.2rem var(--button-shadow);
    cursor: pointer;
    
}

button:hover,
button:focus {
    filter: brightness(125%);
}

#alert{
    display: block;
    font-weight: 400;
    color: var(--alert-color)
}

footer{
    max-width: 100vw;
    margin: 0;
    text-align: center;
    font-weight: 300;
    color: var(--neutral-color);
}

footer a{
    font-weight: 400;
    color: var(--primary-color);
    text-decoration: none;
}

@media only screen and (orientation:portrait) {
    .container{
        width: 100%;
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    .logo{
        order: 1;
        align-self: flex-start;
        padding: 1.5rem;
    }

    .photo{
        order: 2;
        width: 100%;
    }

    .photo img{
        width: 100%;
        height: auto;
    }

    .text{
        order: 3;
        width: 100%;
        margin: 0;
        padding: 0; 
        text-align: center;
    }

    h1, h2{
        margin: 0;
        font-size: 11vw;
    }

    h1{
        margin-top: 3rem;
        margin-bottom: .5rem;
    }

    .text p{
        margin: 1rem 2rem;
    }

    form{
        margin: 2rem auto 1rem auto;
    } 

    input{
        height: 40px;
    }

    ::placeholder{
        font-size: 2vw;
    }

    button{
        width: 80px;
        height: 41px;
    }

    #alert{
        text-align: left;
        margin: 0 0 7rem 5em;
        padding: 0;
        font-size: 2.5vmin;
    }

    footer {
        order: 5;
        font-size: 2vw;
    }
}

@media only screen and (orientation:landscape) {
    .container{
        display: grid;
        grid-template-columns: repeat(10, 10%);
        grid-template-rows: repeat(10);
        gap:0;
        max-width: 100%;
        background: linear-gradient(var(--background-gradient));
    }

    .bg{
        background-image: url("images/bg-pattern-desktop.svg");
        background-repeat: no-repeat;
        background-size: 75% 150%;
        background-attachment: fixed;
        background-position-y: -25rem;
        background-position-x: -8rem;
    }

    .logo{
        grid-column: 1/6;
        grid-row: 1;
        min-height: 100%;
        padding: 4vh 0 10vh 8vw;
    }

    .logo img {
        height: 3vh;
    }

    .text{
        grid-column: 1/6;
        grid-row: 2/11;
        text-align: left;
        margin: 0;
        padding: 3vh 10vw 0 8vw;
    }

    h1, h2{
        font-size: 5vw;
        margin: 0;
    }

    .text p{
        font-size: 1.2vw;
        padding: 0 7vw 2vh 0; 
    }

    .photo{
        background-color: var(--background-pink);
        grid-row: 1/11;
        grid-column: 6/11; 
        height: 100vh;
        overflow: hidden;
    }

    .photo img{
        width: 100%;
        height: 100%;
        min-width: 80%;
        min-height: 80%
    }

    input{
        min-width: 80%;
        height: 50px;
    }

    ::placeholder{
        font-size: .7vw;
    }

    button{
        height: 50px;
        width: 80px;
    }
    
    #alert {
        padding: 1vh 3vh 1vh 3vh ;
    }

    footer{
        grid-column: 1/6;
        grid-row: 10;
        font-size: 1vw;
    }
    
}   
  